@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: rgb(233, 231, 248);
  --textColor: rgb(30, 27, 27);
  --softBg: #f0f0f0;
  --softTextColor: #626262;
  --headerHeight: 60px;
  --darkColor: #ff6464;
}

* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.dark {
  --bg: #273047;
  --textColor: #ddd;
  --softBg: #d0d5de;
  --softTextColor: #a6a6a6;
  --borderColor: #ddd;
}

.light {
  --bg: #f8fbfe;
  --textColor: #1e1b1b;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
  --borderColor: #1e1b1b;
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}
