@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: rgb(233, 231, 248);
  --textColor: #21243d;
  --softBg: #f0f0f0;
  --softTextColor: #8695a4;
  --headerHeight: 80px;
  --footerHeight: 182px;
  --darkColor: #ff6464;
}

* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Heebo", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.dark {
  --bg: #121724;
  --textColor: #cecccc;
  --softBg: #495f75;
  --softTextColor: #a6a6a6;
  --borderColor: #ddd;
}

.light {
  --bg: #f8fbfe;
  --textColor: #21243d;
  --softBg: #f0f0f0;
  --softTextColor: #8695a4;
  --borderColor: #1e1b1b;
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}
