.headerWrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--softTextColor);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: var(--headerHeight);
  background-color: var(--bg);
  color: var(--textColor);
}

.nav {
  width: 20%;
}

.navlist {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navlist li {
  font-weight: 600;
  font-size: 20px;
}

.navlist li a:hover {
  color: var(--darkColor);
}

.navlist li a:active {
  color: var(--darkColor);
}
