.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--footerHeight);
  color: var(--textColor);
  background-color: var(--bg);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.iconBox svg {
  width: 30px;
  height: 30px;
}

.textBox {
  text-align: center;
  font-size: 12px;
}
